{% load app_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>

<!--
        ==========================test
-->

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Karma Shop</title>
<!--
    CSS
    ============================================= -->
<link rel="stylesheet" href="{% static "css/linearicons.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
<link rel="stylesheet" href="{% static "css/nice-select.css " %}">
<link rel="stylesheet" href="{% static "css/nouislider.min.css" %}">
<link rel="stylesheet" href="{% static "css/ion.rangeSlider.css" %}"/>
<link rel="stylesheet" href="{% static "css/ion.rangeSlider.skinFlat.css" %}"/>
<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}">

<body>

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static "img/logo1.jpg" %}"
                                                                             alt="logo" style="max-height: 80px; min-height: 80px">
                    </a>
        {% if request.user.is_authenticated %}
            <a class="navbar-brand logo_h" style="margin-left: 200px"><span class="ti-user"> {{ request.user.username }}</span></a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item submenu dropdown">

                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff == False %}

                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">Companies</a>
                                    <ul class="dropdown-menu">
                                        {% for company in companies %}
                                            <li class="nav-item"><a class="nav-link"
                                                    href="{% url 'product' company.id %}">{{ company.username }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item"><a href="{% url 'cart' %}" class="cart"><span class="ti-bag"> Cart</span></a>
                                    </li>
                                    <li class="nav-item"><a href="{% url 'wishlist' %}" class="cart"><span
                                            class="ti-heart"> Wishlist </span></a></li>
                                {% endif %}
                                <li class="nav-item"><a class="cart" href="{% url 'contact' %}"><span
                                        class=""> Contact </span></a></li>

                                <li class="nav-item"><a href="{% url 'logout' %}" class="cart"><span
                                        class="ti-shift-left"> Logout</span></a>
                                </li>

                            {% else %}

                                <li class="nav-item "><a href="{% url 'login_url' %}" class="nav-link"><span
                                        class="ti-shift-right"> Login</span></a>
                                </li>
                                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link"><span
                                        class="ti-plus"> Register</span></a>
                                </li>
                            {% endif %}
                            </ul>
                </div>
            </div>
        </nav>
    </div>
    {#    <div class="search_input" id="search_input_box">#}
    {#        <div class="container">#}
    {#        </div>#}
    {#    </div>#}
</header>
<!-- End Header Area -->

{% block content %}



{% endblock %}

<hr/>
<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/BMW.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
            <a class="col single-img" href="">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/tesla.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
            <a class="col single-img" href="">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/kia.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
            <a class="col single-img" href="">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/mercedes.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
            <a class="col single-img" href="">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/hyundai.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="{% static "img/brand/nissan.png" %}" alt=""
                     style="max-height: 150px; min-height: 150px">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->


<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-right">About Us</h6>
                    <p>
                        The first e-commerce website for electric cars to make Companies and clients to communicate
                        with each other and make clients to know about all models of electric car and the advantages
                        of it to buy these cars.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget mt-5">
                    <h6></h6>
                    <p class="h6"> - <a class="text-primary">Our Team</a></p>
                    <p class="h6"> - <a class="text-primary">Address</a></p>
                    <p class="h6"> - <a class="text-primary">Our Vision</a></p>
                    <p class="h6"> - <a class="text-primary">Our Gola</a></p>

                    <div class="" id="mc_embed_signup">
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><a href="">ssss</a></li>
                        <li><a href="">ssss</a></li>
                        <li><a href="">ssss</a></li>
                        <li><a href="">ssss</a></li>
                        <li><a href="">ssss</a></li>
                        <li><a href="">ssss</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Hani</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" %}"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>
<script src="{% static "js/nouislider.min.js" %}"></script>
<script src="{% static "js/countdown.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" %}"></script>
<script src="{% static "js/gmaps.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>