{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Purchase</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Purchase</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->



    <div class="container mt-5 pl-5 pr-5 ">
        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6 ">
                <div class="card text-center shadow-lg">
                    <div class="card-header p-3"><h2>Checkout</h2></div>
                    <div class="card-body">
                        <form action="" method="POST" class="uni-form">
                            <div class="form-group">
                                {% csrf_token %}
                                {% crispy form %}
                                <button class="btn btn-danger mb-2">Checkout</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>


{% endblock %}